div.form1{
    background:linear-gradient(45deg,#87adfe,#8e8d9a);
    width: 600px;
    height: 550px;
    margin-left: 500px;
    color: white;
    padding-left: 75px;
    padding-top: 50px;
}
div.title2{
    font-size: 30px;
    padding-left: 550px;
    padding-bottom: 75px;
    color: white;
}
h1{
    font-size: 60px;
    color: #1484b6;
    text-align: center;
}