h1{
    font-size: 60px;
    color: #1484b6;
    text-align: center;
}
div.box3{
    background:linear-gradient(45deg,#87adfe,#8e8d9a);
    max-width: auto;
    height: 225px;
    padding: 50px;
}
div.content3 h1{
    margin-top: 50px;
    font-size: 45px;
    color: #1484b6;
    text-align: center;
}
img{
    width: 350px;
}
td{
    padding: 50px;
}
div.content4{
    padding-left: 100px;
}
h3{
    color: white;
}
td{
    padding: 10px;
}
p{
    color: white;
}
div.content5 h1{
    font-size: 45px;
    color:#1484b6;
    text-align: center;
}
div.content5 p{
    text-align: center;
    margin-left: 450px;
    padding: 50px;
    width: 600px;
}
div.content6 h1{
    font-size: 45px;
    color:#1484b6;
    text-align: center;
}
div.content6 p{
    text-align: center;
    margin-left: 450px;
    padding: 50px;
    width: 600px;
}


